---
layout: default
title: Arquivo
---

<section>
  <h2><a href="https://bsky.app/profile/arthr.me">Bluesky</a></h2>
  <div class="h-feed">
    {% assign bsky_entries = site.data.feed | where: "type", "bsky" %}
    {% for entry in bsky_entries %}
      {% include entry.html entry=entry %}
    {% endfor %}
  </div>
</section>

<section>
  <h2><a href="https://tangled.org/arthr.me/">Tangled</a></h2>
  <div class="h-feed">
    {% assign tangled_entries = site.data.feed | where_exp: "item", "item.type == 'tangled_repo' or item.type == 'tangled_star'" %}
    {% for entry in tangled_entries %}
      {% include entry.html entry=entry %}
    {% endfor %}
  </div>
</section>

<section>
  <h2><a href="https://irrelefante.com.br/">Blog</a></h2>
  <div class="h-feed">
    {% assign blog_entries = site.data.feed | where: "type", "blog" %}
    {% for entry in blog_entries %}
      {% include entry.html entry=entry %}
    {% endfor %}
  </div>
</section>

<section>
  <h2><a href="https://grain.social/profile/arthr.me">Grain</a></h2>
  <div class="h-feed">
    {% assign grain_entries = site.data.feed | where: "type", "grain" %}
    {% for entry in grain_entries %}
      {% include entry.html entry=entry %}
    {% endfor %}
  </div>
</section>
