<footer class="site-footer">
  <nav class="webring">
    <h2 class="webring-title">Parte do webring CSS.JOY</h2>

    <a class="webring-link _prev" rel="prev" href="https://webri.ng/webring/cssjoy/previous?via=https://arthr.me">Anterior</a>

    <a class="webring-link _random" href="https://webri.ng/webring/cssjoy/random?via=https://arthr.me">Aleatório</a>

    <a class="webring-link _next" rel="next" href="https://webri.ng/webring/cssjoy/next?via=https://arthr.me">Próximo</a>
  </nav>
</footer>
