{%- capture site_title -%}
  <img class="site-logo" src="{{ site.logo }}" width="64" height="64" alt="" role="presentation" />

  <span class="site-name">
    {{ site.title }}
  </span>
{%- endcapture -%}

<header class="site-header">
  {% if page.title and page.title != "" %}
    <p class="site-title">
      <a href="{{ site.url }}">
        {{ site_title }}
      </a>
    </p>
  {% else %}
    <h1 class="site-title">
      <a href="{{ site.url }}">
        {{ site_title }}
      </a>
    </h1>
  {% endif %}
  
  <div class="site-description">
    {{ site.description | markdownify }}
  </div>
  
  <nav class="main-menu">
    {% for item in site.main_menu -%}
      <a class="menu-item {{ item.index | prepend: '_' }}" href="{{ item.url }}">
        {{- item.label -}}
      </a>
    {%- endfor %}
  </nav>
</header>
