body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-weight: 400;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

/*
  Headings
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 1.125rem;
}

h2 {
  font-size: 1.105rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.925rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.75rem;
}
