body {
  background: var(--color-background);
  margin: 3rem auto;
  max-width: 900px;
  padding-inline: 3vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  column-gap: 1.5rem;
  row-gap: 3rem;

  @media (width > 40rem) {
    grid-template-columns: minmax(18rem, 1fr) 3fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      "header main"
      "footer main"
      ".      main";
  }

  .site-header {
    grid-area: header;
  }
  .site-content {
    grid-area: main;
  }
  .site-footer {
    grid-area: footer;
  }
}

/*
  Site Header
*/

.site-header {
  .profile {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.25rem;

    .profile-picture {
      display: block;
      width: 2.5rem;
      flex-shrink: 0;

      img {
        border-radius: 0.25rem;
      }
    }

    .site-title {
      font-size: 1.1333rem;
      font-weight: 600;
      line-height: 1.25;
      margin: 0;
    }

    .site-description {
      font-size: 12px;
    }
  }

  .site-menu {
    background-color: var(--color-background-active);
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    margin-top: 3rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radii);
    font-size: 0.85rem;
    font-weight: 500;

    .menu-item {
      padding: 0.5rem;
      color: currentcolor;
      text-decoration: none;
      transition: background var(--easing-duration) ease;

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-border);
      }

      &:hover,
      &:focus {
        background-color: var(--color-accent-subtle);
      }

      &:active {
        background-color: var(--color-accent-active);
      }
    }
  }
}

/*
  Site Content
*/

.feed {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid var(--color-border);
  border-radius: var(--radii);
  overflow: hidden;
}

.page {
  background-color: var(--color-background-active);
  border: 1px solid var(--color-border);
  border-radius: var(--radii);
  padding: 1rem;

  .page-title {
    margin-bottom: 1rem;
  }
}

.post {
  .post-permalink {
    display: block;
    background-color: var(--color-background-active);
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text);
    text-decoration: none;
    transition: background-color var(--easing-duration) ease;

    &:hover,
    &:focus {
      background-color: var(--color-accent-subtle);
    }
  }

  .post-content {
    padding-top: 1.333rem;
    padding-inline: 1.333rem;
  }

  .post-title {
    font-weight: 500;
    padding-top: 1.333rem;
    padding-inline: 1.333rem;
    margin-bottom: 0.5rem;
  }

  .post-date {
    color: var(--color-text-subtle);
    display: block;
    font-family: var(--font-mono);
    font-size: 0.75rem;
    padding-inline: 1.333rem;
    padding-bottom: 1.333rem;
    margin-top: 0.5rem;
  }
}

/*
  Site Footer
*/

.site-footer {
  .webring {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
  }

  .webring-title {
    color: var(--color-text-subtle);
    font-size: 0.85rem;
    width: 100%;
  }

  .webring-link {
    display: inline-block;
    background: var(--color-background-active);
    border: 1px solid var(--color-border);
    border-radius: var(--radii);
    padding: 0 0.5rem;
    font-size: 12px;
    color: var(--color-text);
    text-decoration: none;
    transition: background-color var(--easing-duration) ease;

    &:hover,
    &:focus {
      background-color: var(--color-accent-subtle);
    }
  }
}
