

body {
  background: var(--color-background);
  margin: 3.75rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;

  @media screen and (width < 960px) {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
  }
}

.site-header {
  max-width: 340px;
  align-self: flex-start;
  position: sticky;
  top: 2rem;

  .profile {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.25rem;

    .profile-picture {
      display: block;
      width: 2.5rem;

      img {
        border-radius: 0.25rem;
      }
    }

    .site-title {
      font-size: 1.1333rem;
      font-weight: 600;
      line-height: 1.25;
      margin: 0;
    }
  }

  .site-menu {
    background-color: var(--color-background-active);
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    margin-top: 3rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radii);
    font-size: 0.85rem;
    font-weight: 500;

    .menu-item {
      padding: 0.5rem;
      color: currentcolor;
      text-decoration: none;
      transition: background var(--easing-duration) ease;

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-border);
      }

      &:hover,
      &:focus {
        background-color: var(--color-accent-subtle);
      }

      &:active {
        background-color: var(--color-accent-active);
      }
    }
  }
}

.h-feed {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid var(--color-border);
  border-radius: var(--radii);
  overflow: hidden;

  .u-url {
    display: block;
    padding: 1.333rem;
    background-color: var(--color-background-active);
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text);
    text-decoration: none;
  }
}
