<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{% if page.title and page.title != "" %}{{ page.title }} —{% endif %} {{ site.title }}</title>
    {% seo title=false %}
    
    <link rel="stylesheet" href="{% link assets/css/base.css %}" />
    <link rel="stylesheet" href="{% link assets/css/layout.css %}" />
    
    {% feed_meta %}
    {% json_feed_meta %}
  </head>
  <body id="site">
    {% include header.html %}
    
    {{ content }}
  </body>
</html>
