<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}

    <link rel="stylesheet" href="{% link assets/css/main.css %}" />

    {% for link in site.seo.links %}
      {% if link contains "bsky" %}
        <link rel="me atproto" href="{{ link }}">
      {% else %}
        <link rel="me" href="{{ link }}">
      {% endif %}
    {% endfor %}
  </head>

  <body>
    {% include header.html %}

    <main class="site-content">{{ content }}</main>

    {% include footer.html %}
  </body>
</html>
